GATEWAY_BOT_TOKEN = ""

JAVA_SERVER_HOST = "galaxy.minecraft.rent"
JAVA_SERVER_PORT = "25615"

PRIVATE_VOICE_CHANNEL_GUILD_ID = "1010816890513395803"
PRIVATE_VOICE_CHANNEL_CATEGORY_ID = "1127922726674370580"
