{
  "gatewayBotToken": "",
  "javaServerHost": "galaxy.minecraft.rent",
  "javaServerPort": 25615,
  "privateVoiceChannelGuildId": 1010816890513395803,
  "privateVoiceChannelCategoryId": 1127922726674370580
}
